<footer class="container-fluid bg-dark">
    <div class="row footer">
        <section class="col">

        </section>
        <section class="col text-center text-bg-dark">
            <p>© COPYRIGHT CEDRIC DUPRE</p>
        </section>
        <section class="col">

        </section>
    </div>
</footer>