{% extends 'base.html.twig' %}

{% block body %}
<section class="container background_404" style="background-image: url('images/404.jpg')">
    <div class="row">
        <div class="col">
            <h1>Page nnonnn trouvée</h1>
            <p>La page que vous rechercher n'a pas été trouvéée.</p>
        </div>
    </div>
</section>
{% endblock %}