{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}

<div class="home-bg">          
    <div class="container mt-5">
        <span class="slogan"><p class="slogan-p">Born to snowboard</p></span>              
    </div>
    <a href="#tricks"><i class="fas fa-chevron-down fa-4x chevron-down"></i></a>                                         
</div>           

{% include '_partials/_tricks.html.twig' %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/pagination.js')}}" defer></script>
{% endblock %}
