{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<section class="container-fluid mt-5">
    <div class="row w-50 ms-auto me-auto mt-5"  style="background: url(/images/profile.jpg)">
        <div class="d-flex flex-column col text-center align-items-center p-2">
             

                <h1 class="not-italic font-sans font-semibold">Profile de {{ user.username }} </h1>


                <div class="mb-4">
                    <p class="text-lg">Votre e-mail:</p>
                    <p class="italic">{{ user.email }}</p>
                </div>
                
                <a href="{{ path('forgotten_password') }}" class="btn btn-lg btn-warning mt-3">Réinitialiser votre mot de passe</a>
                {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
</section>

{% endblock %}